/*     Música   */

#redSocial{
	text-align: center;
	padding-top: 7%; 
	padding-bottom: 1.2%;
}

#logo-size{
	width: 40%;
	padding: 10px;
}

#conIcoReds{
	border-radius: 0 0 5px 5px;
}


#navegacion{
	text-align: center;
	width: 100%;

}

.imagen{
	width: 100%;
	box-shadow: 2px 2px 5px black;
	border-radius: 5px;
}

#espacio-ima{
	padding: 85px 0 85px 0;
}

#buscar{
	padding: 10px 0 10px 0;
}

.list-group-item:hover{
	background-color: #EEEED8;
}

#nombre{
	border-top: solid 2px black;
	text-align: center;
}

.blogs{
	text-decoration: none;
	color:black;
}

.blogs:hover{
	text-decoration: none;
}


.hover1:hover{
	background-color: #e0f2f1;
}

.color-m{
	background-color: #b0a9a3;
}

.color-b{
	background-color: white;
}

.color-a{
	background-color: #715743;
}

.redondeo{
	border-radius: 2px;
}

/* --------- Gastronimía ---------- */

/*div{
	border:solid 1px black;

}*/

.lineas-derecha{
	border-right: solid 1px grey;
}

.lineas-abajo{
	border-bottom: solid 1px grey;
}

.derecha{
	text-align: right;
}

.espacio{
	padding: 20px;
}

.espacio-1{
	padding: 10px;
}

.no-espacios{
	margin: 0;
	padding: 0;
}

.espacio-arriba{
	padding-top: 10px; 
}

.espacio-arriba-x3{
	padding-top: 30px; 
}

.margen{
	border:solid 1px grey;
	border-radius: 6px;
}

.margen:hover {
	background-color: #E0E0E0;
}

.decoracion-imagenes{
	border: solid 3px purple;
	border-radius: 5px;
}

.lista{
	list-style: none;
}

.centrar{
	margin: auto;
	text-align: center;
}

.derecha{
	float: right;
}

.comentarios-deco{
	margin-right: 10PX;
	border-radius: 15px;
	background-color: #e0e0e0;
}

.posicion-ima{
	margin: auto;
}

.gur-fondog{
	background-image: url(../imagenes/fondo2.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	width: 100%; 
}

/*------- Turismo --------*/

nav {
	background-color: transparent;
	color: black;
	box-shadow: none;
}

.c-negro{
	color: black;
}

.redondeo{
	border-radius:10px;
}

.imagen_x100{
	width: 100%;
}

.imagen_x95{
	width: 95%;
}

.imagen_x20{
	width: 25%;
}

.fondo_blanco{
	background-color: white; 
}

.float-left{
	float: left;
}

/*.separado-derecha{
	margin-right: 10px;
}*/

.mini-cont{
	float: left;
	margin-right: 10PX;
	border-radius: 15px;
	background-color: #e0e0e0;
}

.circulo{
	border-radius: 100%;
	width: 50%;
}

.invertir-ima{
	transform: scaleX(-1);
}

.en-linea{
	display: flex;
}

.fondo{
	background-image: url(../imagenes/fondo.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.c-fondo{
	background-color: rgba(255,255,255,0.88);
}

.c-fondo2{
	background-color: rgba(27,167,154,0.88);
	color: white;
}

.c-blanco{
	color: white;
}
.blanco{
	color: white;
}