#redSocial{
	text-align: center;
	padding-top: 10%; 
	padding-bottom: 1%;
}

#conIcoReds{
	border-radius: 0 0 5px 5px;
}


#navegacion{
	text-align: center;
	width: 100%;

}

.imagen{
	width: 100%;
	padding: 85px 0 85px 0;
	/*box-shadow: 2px 2px 5px black;*/
}

#buscar{
	padding: 10px 0 10px 0;
}

.list-group-item:hover{
	background-color: #EEEED8;
}

#nombre{
	border-top: solid 2px black;
	text-align: center;
}

.blogs{
	text-decoration: none;
	color:black;
}

.blogs:hover{
	text-decoration: none;
}

/* --------- Gastronimía ---------- */

/*div{
	border:solid 1px black;

}*/

.lineas-derecha{
	border-right: solid 1px grey;
}

.lineas-abajo{
	border-bottom: solid 1px grey;
}

.derecha{
	text-align: right;
}

.espacio{
	padding: 20px;
}

.no-espacios{
	margin: 0;
	padding: 0;
}

.margen{
	border:solid 1px grey;
	border-radius: 6px;
}

.margen:hover {
	background-color: #E0E0E0;
}

.espacio-arriba{
	padding-top: 10px; 
}

.decoracion-imagenes{
	border: solid 3px purple;
	border-radius: 5px;
}

.lista{
	list-style: none;
}