#redSocial{
	text-align: center;
	padding-top: 10%; 
	padding-bottom: 1%;
}

#conIcoReds{
	border-radius: 0 0 5px 5px;
}


.navegador{
	text-align: center !important;
	text-align: center; 
	padding: 5px;

}

